*
{
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif

}
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v36/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
    padding: 5px;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.material-icons:hover{
    color:aqua;
    background-color: black;
    border-radius: 20px;
    padding: 5px;
}
.material-icons:active{
    background-color: black;
    border-radius: 20px;
    padding: 2px;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body
{
	background-color: #eae5e5;
}
input::-webkit-calendar-picker-indicator {
  display: none;
}
.nav
{
	display: flex;
	height: 90px;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	background:linear-gradient(to right, #3fb4b4,#0fbc99);
	position: fixed;
	left: 0;
	top: 0;
    z-index: 1;
	box-shadow: 1px 2px 6px 1px grey;

}
::selection
{
    color: wheat;
    background-color: brown;
}
.drop
{
	text-decoration: none;
	color: white;
	font-weight: 700;
	font-size: 18px;
	transition-duration: .5s;
	cursor: pointer;
	
}
.drop:hover
{
	color: #96ffe6;
		transition-duration: .5s;

}
.drop1
{
	text-decoration: none;
	color: white;
	font-weight: 700;
	font-size: 18px;
	transition-duration: .5s;
	cursor: pointer;
	
}
.drop1:hover
{
	color: #96ffe6;
		transition-duration: .5s;

}
.homeicon
{
	background-image: url(images/home.png);
	background-size: contain;
	height: 40px;
	width: 40px;
	cursor: pointer;
}
.nav > input,#forumsearch
{
	width: 40px;
	transition-duration: .7s;
		outline: none;
		border:2px solid white;
		border-radius: 20px;
		height: 40px;
		background-image: url(images/searchlogo.png);
		background-size: contain;
		cursor: pointer;
		box-shadow: 2px 2px 5px 1px darkgrey;
	box-shadow: 2px 1px 5px 1px grey;
	color: transparent;
	transform: rotate(13deg) ;
	transition-duration: .34s;
		

}
.nav > input:hover,#forumsearch:hover
{
	box-shadow: 2px 4px 5px 1px grey;
	transform: rotate(-13deg) scale(1.09);
	transition-duration: .4s;
}
.nav > input:focus,#forumsearch:focus
{
	width: 300px;
	border-radius: 0px;
	padding-left: 20px;
		transition-duration: .7s;
		background-image:url("");
		cursor: text;
		color: black;
		transform: rotate(0deg) scale(1);
}

#slideshow
{
	
	height: 500px;
	margin-top: 20px;
	box-shadow: 1px 2px 6px 1px grey;
	background-image:url(images/3.jpg);
	background-size: cover;
	overflow: hidden;
	transition-timing-function:ease;
	transition-duration: 1s;
	border:2px solid white;
}

#slideshow > input
{
	border: none;
	background: transparent;
	border-bottom: 2px solid white;
	width: 51vw;
	height: 51px;
	outline: none;
	font-size: 30px;
	color: white;
	transition-duration: .7s;
	padding: 20px;
	margin-left: 21vw;
	margin-top: 220px;
	z-index: 10;
	overflow: hidden;

}
#slideshow img
{
	height: 4.7vw;
	border-bottom: none;
	width: 4vw;
	padding-bottom: 5px;
	margin-bottom: -15px;
    
	
}
#slideshow  ul
{
	width: 900px;
	border: none;
	background: transparent;
	
	outline: none;
	font-size: 30px;
	color: white;
	transition-duration: .7s;
	padding-top: 14px;
	margin-left: 15vw;
	z-index: 10;
	overflow: hidden;
}
#slideshow  input:focus
{
	width: 60vw;

	transition-duration: .6s;
	transform: scale(1.24);
}

#opt1
{
	color: red;
}

#myul li a {
  
  margin-top: -1px; /* Prevent double borders */
  padding-left: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none;
  font-size: 17px;
  color: white;
  display: block;
}
#myul li a:hover
{
	background: rgba(0, 0, 0, 0.1);
	color: white;
}
#logo
{
	width:70px;
	height:70px;
	
}
#logo1
{
	width:40px;
	height:40px;
	
}
#hide
{
	display: none;
}

	#logohover:after
	{
		content: 'Logo';
		  padding: 4px 8px;
     position: absolute;
    left: 50px;
     top:50px;
     white-space: nowrap;
     z-index: 20px;
     background:white;
     color: black;
     transition-duration: .7s;

	}
#myul
	{
		list-style-type: none;
  padding: 0;
  margin: 0;
  transition-duration: .7s;
	}


input[type="password"]::placeholder,input[type="text"]::placeholder,input[type="email"]::placeholder
{
	color: black;
}
#search2::placeholder
{
	color: white;
}


.filler
{
	height:73px;
	width: 100%;
	background-color:black;
}

#demo
{
		display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px solid  grey;
	margin-top: 20px;
	background-color: white;
	box-shadow: 1px 2px 6px 1px grey;
}
#imgid
{
		display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	height: 44vw;

	

}
#imgid > img
{
	height:16vw;
	width: 33vw;
	border: 2px solid white;
	margin-left: 10px;
	box-shadow: 1px 2px 6px 1px grey;
	transition-duration: .5s;
}
#imgid > img:hover
{
	box-shadow: 1px 5px 15px 1px grey;
	transition-duration: .5s;
}
#txtid
{
	margin: 10px;
	height: 36vw;
	width: 60vw;
	color: grey;
	font-size: 1.3vw;	
	}
#imgtxt1{
	margin-right: 1vw;
	margin-top: -2vw;
	margin-left: 2vw;
}
#imgtxt2
{
	margin: 1vw;
	margin-top: 17vh;
	margin-left: 2vw;
}
#imgtxt1 h2,#imgtxt2 h2
	{
	color: black;
	}
	#demo2
{
		display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px solid  grey;

	margin-top: 20px;
	height: 30vw;
	background-color: white;
	box-shadow: 1px 2px 6px 1px grey;
}
#imgid2
{
		display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	height: 30vw;
	

}
#imgid2 > img
{
	height: 25vw;
	width: 40vw;
	margin-right: 30px;
	border: 2px solid white;
	box-shadow: 1px 2px 6px 1px grey;
	transition-duration: .5s;
}
#imgid2 > img:hover
{
	box-shadow: 1px 5px 15px 1px grey;
	transition-duration: .5s;
}
#txtid2
{
	height: 34vw;
	width: 60vw;
	color: grey;
	font-size: 1.4vw;	
	}
	


#imgtxt3
{
	margin: 10px;
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 10px;
}
#imgtxt3 h1
	{
	margin: 10px;
	color: black;
	}
	

		#demo3
{
		display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px solid  grey;
	
	margin-top: 20px;
	height: 60vw;
	background-color: white;
	box-shadow: 1px 2px 6px 1px grey;
}

#imgid3
{
		display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	height: 57vw;
	

}
#imgid3 > img
{
	height: 16vw;
	width: 40vw;
	margin-right: 22px;
	margin-left: 14px;
	border: 2px solid white;
	box-shadow: 1px 2px 6px 1px grey;
	transition-duration: .5s;

}


#txtid3
{
	height: 57vw;
	width: 70vw;
	color: grey;
	font-size: 1.3vw;	
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
	
#imgtxt4,#imgtxt5,#imgtxt6
{
	margin: 10px;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 5vw;
	margin-right: 10px;
	font-size: 1.3vw;
}

#imgtxt4 h2,#imgtxt5 h2,#imgtxt6 h2
	{
	margin: 10px;
	color: black;
	}
	
	#imgtxt3 h1  a,#imgtxt1 h2  a,#imgtxt2 h2  a,#imgtxt4 h2  a,#imgtxt5 h2  a,#imgtxt6 h2  a,#imgtxt7 h2  a,#imgtxt8 h2  a,#imgtxt9 h2  a
	{
		text-decoration: none;
		color: black;
		transition-duration: .4s;
	}
	#imgtxt3 h1  a:hover,#imgtxt1 h2  a:hover,#imgtxt2 h2  a:hover,#imgtxt5 h2  a:hover,#imgtxt4 h2  a:hover,#imgtxt6 h2  a:hover,#imgtxt7 h2  a:hover,#imgtxt8 h2  a:hover,#imgtxt9 h2  a:hover
	{
		text-decoration: none;
		color: #03af84;
		transition-duration: .4s;
	}
	
	#footer
	{
		display: flex;
	height: 80px;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	background-color: #00605f;
	margin-top: 20px;
	left: 0;
	bottom: 0;
	box-shadow: 1px 2px 6px 1px grey;

	}
	
	#footer a
	{
		text-decoration: none;
	color: white;
	font-weight: 700;
	font-size: 18px;
	
	}
 #fb
 {
 	background-image: url("images/fb.png");
 	background-size: contain;
 	border:1px solid white;
 	box-shadow: 1px 1px 2px 1px darkgrey;
 	height: 40px;
 	width: 40px;
 	border-radius: 20px;
 	 	 	transition-duration: .7s;

 	
 }
 #fb:hover,#twitter:hover,#github:hover
 {
 	 	box-shadow: 1px 1px 2px 1px lightgrey;
 	 	transform: scale(1.04);
 	 	transition-duration: .7s;
 	 	transform: rotateZ(30deg);


 }
#twitter
{
	background-image: url("images/twitter.png");
 	background-size: contain;
 	border:2px solid white;
 	height: 40px;
 	width: 40px;
 	border-radius: 20px;
 	 	box-shadow: 1px 1px 2px 1px darkgrey;
 	 	transition-duration: .7s;
}
#github
{
	background-image: url("images/github.jpg");
 	background-size: contain;
 	border:2px solid white;
 	height: 40px;
 	width: 40px;
 	border-radius: 20px;
 	 	box-shadow: 1px 1px 2px 1px darkgrey;
 	 	transition-duration: .7s;
}

@media screen and (max-width: 830px)
{
 #slideshow
 {
 	height: 70vh;
 	margin-top: 5vh;

 }
  #slideshow > input
  {
  	
	margin-top: 30vh;
  }
  .nav
  {
  	flex-direction: column;
  	height: 90px;
  	transition-duration: .7s;
  }
  .drop
  {
  	display: none;
  }

#imgtxt2
{
	margin-top: 13vh;
	padding-bottom: 9vh;
}
#imgtxt3
{
	margin-top: 5vh;
}
#imgtxt4
{
	margin-top: 4vh;
}
#imgtxt5
{
		margin-top: -4vh;
}

  /*#tg,#tg1,#tg2,#tg3,#tg4,#tg5,#tg6
  {
  	display: none;
  }*/
  #hide
  {
  	display: inherit;
  	cursor: pointer;
  }
#hide1
  {
  	display: none;
  }

}
 .hide3
  {
  	display: none;
  }
 
.container
{
	box-shadow: 1px 2px 6px 1px grey;
	
}
.flex
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.flex2
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.inup
{
	width: 400px;
	height: 50px;
	

}
#sibtn,#subtn
{
color: black;
font-size: 17px;
height: 50px;
width: 200px;
background-color: white;
border: none;
outline: none;
cursor: pointer;
}
#sibtn
{
	background-color: #e5fffa;

}
#subtn
{
	background:linear-gradient(to bottom right,#bafffd,#c4ffcb);
}
.sign
{
	margin-top: 30px;
	background:linear-gradient(to bottom right, #e5fffa,#bafffd);
	justify-content: space-between;
	height: 488px;
	width: 400px;
	transition-duration: .5s;
}
.sign2
{
	margin-top: 30px;
	background:linear-gradient(to bottom right,#bafffd,#c4ffcb);
	justify-content: space-between;
	height: 488px;
	width: 400px;
	transition-duration: .5s;
}
.sign input[type="text"],.sign input[type="password"],.sign input[type="email"]
{
	height: 37px;
	width: 250px;
	border: none;
	margin-top: -8px;
	font-size: 20px;
	border-bottom: 2px solid indigo;
	outline: none;
	background: transparent;
}
.sign input[type="submit"]
{
	margin-bottom: 60px;
	color: white;
	height: 37px;
	width: 250px;
	outline: none;
	cursor: pointer;
	background-color: blue;
	font-size: 20px;
	border: 1px solid grey;

	box-shadow: 1px 1px 4px 1px lightgrey;
	transition-duration: .4s;
}
.sign input[type="submit"]:hover
{
	background-color: darkblue;
	transition-duration: .4s;
}

.sign2 input[type="text"],.sign2 input[type="password"],.sign2 input[type="email"]
{
	height: 37px;
	width: 250px;
	border: none;
	margin-top: -8px;
	font-size: 20px;
	border-bottom: 2px solid indigo;
	outline: none;
	background: transparent;
}
.sign2 input[type="submit"]
{
	margin-bottom: 60px;
	color: white;
	height: 37px;
	width: 250px;
	outline: none;
	cursor: pointer;
	background-color: blue;
	font-size: 20px;
	border: 1px solid grey;

	box-shadow: 1px 1px 4px 1px lightgrey;
	transition-duration: .4s;
}
.sign2 input[type="submit"]:hover
{
	background-color: darkblue;
	transition-duration: .4s;
}

#loginimg
{
	height: 100px;
	width: 100px;
	background-image: url("images/login1.png");
	background-size: contain;
	border-radius: 50px;
	box-shadow: 1px 2px 6px 1px grey;
	margin-bottom: 20px;
}
.formflex
{
	height: 270px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}


		#demo4
{
		display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px solid  grey;
	
	margin-top: 20px;
	height: 60vw;
	background-color: white;
	box-shadow: 1px 2px 6px 1px grey;
}

#imgid4
{
		display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	height: 57vw;
	

}
#imgid4 > img
{
	height: 15vw;
	width: 26vw;
	margin-right: 22px;
	margin-left: 14px;
	border: 2px solid white;
	box-shadow: 1px 2px 6px 1px grey;
	transition-duration: .5s;

}
#imgid3 > img:hover,#imgid2 > img:hover,#imgid > img:hover,#imgid4 > img:hover
{
	box-shadow: 1px 5px 15px 1px grey;
	transition-duration: .5s;
	transform: scale(1.01);
}

#txtid4
{
	height: 56vw;
	width: 70vw;
	color: grey;
	font-size: 1.3vw;	
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
	
#imgtxt7,#imgtxt8,#imgtxt9
{
	
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 2vw;
	margin-right: 10px;
	font-size: 1.3vw;
	color: #705d34;
    padding-left: 10px;
    padding-bottom: 10px;
    border: 1px solid lightgrey;
    border-left: 10px solid #02646d;
}

#imgtxt7 h2 a,#imgtxt8 h2 a,#imgtxt9 h2 a
	{
	margin: 10px;
	color: #036a84;
	}
.ekaur
{
display: flex;
    justify-content: center;
    margin-top: 10px;
}
h1
{    
    
    
    text-decoration: underline;
    color:#02646d;

}
.forumtxt
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fcf4ea;
    flex-direction: column;
    width: 89%;
  
    border-top: 20px solid #02646d;
     font-size: 15px;
    
}
.forumtxt > div
{
    text-align: left;
    padding: 16px;
    margin: 5px;
    margin-left: 80px;
    margin-right: 80px;
    border-top: 5px solid #02646d;
    background-color: #faf1ef;
       transition-duration: .4s;
    cursor: pointer;
}
.forumtxt > div:hover
{
    color: white;
    background-color: #02646d;
    transition-duration: .4s;
    border-style: none;
    border: 1px solid white;
    
    border-top: 7px solid #004049;
}
.forumtxt >div:first-child
{
    margin-top: 30px;
}
.forumtxt > div:last-child
{
    margin-bottom: 10px;
}

.protypetxt
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fcf4ea;
    flex-direction: column;
    width: 89%;
    border-top: 20px solid #00465e;
    
}
.protypetxt > div
{
    text-align: left;
    padding: 16px;
    margin: 5px;
    margin-left: 40px;
    margin-right: 40px;
    border-top: 10px solid #02646d;
    background-color: #faf1ef;
    height: auto;
       transition-duration: .3s;
    
}
/*.protypetxt > div:hover
{
    color: white;
    background-color: #02646d;
    transition-duration: .4s;
    border-style: none;
    border: 1px solid white;
    
    border-top: 7px solid #004049;
}*/
.protypetxt > div:first-child:hover
{
    color: black;
    background-color: #f0fffa;
    transition-duration: .3s;
    border-style: none;
   
    cursor: default;
    border-top: 15px solid #004049;
}
.protypetxt >div:first-child
{
    margin-top: 30px;
    height: auto;
}
.protypetxt > div:last-child
{
    margin-bottom: 10px;
}
.protypetxt >div> h1
{
    text-decoration: none;
    color: #007f5d;
}
.profile{
    width: 86%;
    height: 35px;
    margin: 10px;
}
.profile >button
{
    width: 33.33%;
    height: 100%;
    border: 1px solid grey;
    outline: none;
    background-color: #ecf1cf;
    transition-duration: .4s;
    cursor: pointer;
    font-size: 15px;
    font-weight:600;
}
.profile >button:hover
{
    background-color:#00808a;
    transition-duration: .4s;
    color: white;
}
.profile2
{
    width: 86%;
    height: auto;
    border:1px solid black;
    padding: 30px;
}
.procon
{
height: 900px;
    font-size: 17px;
    color: #666666;

}
#forumsubmit
{
    font-weight: 600;
    box-shadow: 1px 1px 2px 1px lightgrey;
  background-color: lightgoldenrodyellow;
    border-radius: 30px;
    transition-duration: .6s;
    padding: 7px;
}
#forumsubmit:hover
{
   
    color: aliceblue;
    background-color:#004049;
    width: 100px;
    transition-duration: .6s;
    border-radius: 30px;
    cursor: pointer;
}
