.nbc li
{
    padding: 0px 10px;
    margin-left: 4em;
}

.con
{
    background-color: #fff;
   
}
.shd
        {
            box-shadow: 0.1px 0.6px 4px 0.1px;
        }


.fic input
{
    margin-top: 10px;
    padding-left: 10px;
    border: none;
    font-size: 0.99em
/*    outline: none;*/
}
.fic input:first-child
{
    font-size: 1.4em;
    width: 170px;
}

.fic input:focus
{
    background-color: antiquewhite;
}

.fic2 input
{
     margin-top: 10px;
    padding-left: 10px;
    border: none;
    width: 130px
/*    outline: none;*/
}

.fic2 input:focus
{
    background-color: antiquewhite;
}

.rowHeight
{
    height: 200px;
}
.fic3 input
{
    width: 160px;
}
.formc input
{
    width: 70px;
   
}
.formc div:first-child input
{
    width: 200px;
    
}
.formc,.formc input
{
    background-color: black;
   
    color :white;
  
    border: none;
    
}

.formc input:focus
{
    background-color: antiquewhite;
    color: black;
   
}





.formd input
{
    width: 70px;
   
}
.formd div:first-child input
{
    width: 200px;
    margin-left: 0;
}
.formd,.formd input
{
   
   font-size: 0.98em;
    margin-top: 10px;
    border: none;
   
    
}

.formd input:focus,.notes input:focus,.notestext input:focus
{
    background-color: antiquewhite;
    color: black;
   
}

.bill div
{
    margin-top: 10px;
    text-align: center;
    padding-bottom: 5px;
}

.notes input
{
    color: darkslategray;
    padding-left: 10px;
    width: 100%;
    border: none;
    margin-bottom: 5px;
    font-weight: 800;
}
.notestext input
{
     color: grey;
    padding-left: 10px;
    width: 100%;
    border: none;
    margin-bottom: 5px;
    height: 50px;
}


.hoverbest:hover
{
    background-color: transparent;
}
.jumbotron
{
    background-color: transparent;.nbc li
2
{
3
    padding: 0px 10px;
4
    margin-left: 4em;
5
}
6
​
7
.con
8
{
9
    background-color: #fff;
10
   
11
}
12
.shd
13
        {
14
            box-shadow: 0.1px 0.6px 4px 0.1px;
15
        }
16
​
17
​
18
.fic input
19
{
20
    margin-top: 10px;
21
    padding-left: 10px;
22
    border: none;
23
    font-size: 0.99em
24
/*    outline: none;*/
25
}
26
.fic input:first-child
27
{
28
    font-size: 1.4em;
29
    width: 170px;
30
}
31
​
32
.fic input:focus
33
{
34
    background-color: antiquewhite;
35
}
36
​
37
.fic2 input
38
{
39
     margin-top: 10px;
40
    padding-left: 10px;
41
    border: none;
42
    width: 130px
43
/*    outline: none;*/
44
}
45
​
46
.fic2 input:focus
47
{
48
    background-color: antiquewhite;
49
}
    color: white;
   
   margin-top: 100px;
        
}
.con3
{
    display: flex;
    justify-content: center;
    align-items: center;

    
}
