body
{
    background: url(images/back.jpeg) no-repeat center center fixed;
    background-size: cover;
  //  font-family: 'Kaushan Script', cursive;
}
.rowHeight
{
    height: 300px;
}.rowHeight1
{
    height:330px;
}
.footer
{
    background-color: #fff;
 position: fixed;
    bottom: 0;
   
}

p
{
   
    font-size: 20px;
  
    
}